<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>vaka-releases</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>vaka-snapshots</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>cgi-finland-cloud-releases</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>cgi-finland-cloud-snapshots</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>cgi-fin-common-releases</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>cgi-fin-common-snapshot</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>sivi-cloud-releases</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
    <server>
      <id>sivi-cloud-snapshots</id>
      <username>NIMI</username>
      <password>salasana</password>
    </server>
  </servers>
</settings>
